@import "root";
@import "preloader";
@import "timer-section";
@import "menu";
$mini_height:33px; 


input{width: 100%; box-sizing: border-box; padding: 4px 5px; border: none;  outline: none; }
textarea{width: 100%; box-sizing: border-box; padding: 4px 5px; height: 110px;resize: none;display: block;
    border: none;  outline: none; overflow-y: hidden;
}

.textarea-container{ padding-bottom: 5px;border-bottom: solid 1px #ccc;padding-right: 0px;}
.expand{
    #main-textarea-wrapper{ height: calc(100% - 110px);}
    .textarea-container{
        height: calc(100%/ 2);
    } 
} 
.textarea-container textarea{height: 100%}

#setTimeContainer{
    margin-bottom: 10px; margin-top: 2px; padding: 3px 15px;
    label{display: inline-block;width: 45px; box-sizing: border-box}
    #ipt-endTime{ width: calc(100% - 45px); box-sizing: border-box; border: none; border-bottom:solid 1px #ccc }
}
  




#button{ text-align: center }
#buttonInnerWrapper{width: 140px;display: inline-block !important;position: relative;}
#autoRestartWrapper{position: absolute; right: -90px;width: 90px;top: 5px;font-size: 11px;}
#autoRestartWrapper input{vertical-align: middle; width: auto; margin-right: 3px;}

.hide{display: none !important}
.show{display: inline-block !important;}
#btn-stop,#btn-pause,#btn-start,#btn-resume{ color:#FFF; text-decoration:none; width:50px; height:18px;display:inline-block; padding: 3px;}
#btn-stop span,#btn-start span,#btn-pause span,#btn-resume span{position:relative;top:2px; text-align: center}
#btn-stop:hover,#btn-pause:hover,#btn-start:hover,#btn-resume:hover{ background-color:#F90}

#btn-stop{margin-right:5px; background-color:#ff0000;
}
#btn-start{ background-color:#1c4a9e;
}
#btn-pause{ background-color:#090;display:none;
}
#btn-resume{ background-color:#1c4a9e; display:none;
}
// #button{ width:105px; margin:0 auto; font-size:10px; position: static;}

// #btn-stop span,#btn-start span,#btn-pause span,#btn-resume span{ position:relative; top:2px;}

// #btn-stop { position:static; top:46px; right:0}
// #btn-start,#btn-pause,#btn-resume{top:28px; position:static}


// hidden area
#ipt-curDoing{background-color: #484848; text-align: center; color: #c5c5c5;padding: 6px 5px; }
body.expand{
    textarea.hide-scrollbar{ overflow-y: scroll}
    #toolsbar{display: block;}
    #ipt-curDoing{ display: none;}
}

 
#sizeMenu{ position: absolute; top:0px; right:0px; z-index:10; width: 100vw; height: 100vh; max-width:100%;
    max-height:100%;box-sizing: border-box; padding-top: 30px;
    a{ color:#000; display:block; padding:5px 10px; text-decoration:none;background-color:#CCC; height: 50%; width: 50%; float: left; box-sizing: border-box;        
        &.active{ background-color: red; color: white}
        &:hover{ background-color:#666; color:#FFF;}
    }
}
